In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Load Excel File
filename = 'data/car_financing.xlsx'
df = pd.read_excel(filename)

In [3]:
## Filtering 
car_filter = df['car_type']=='Toyota Sienna'
interest_filter = df['interest_rate']==0.0702
df = df.loc[car_filter & interest_filter, :]

In [ ]:
# Approach 1 dictionary substitution using rename method
df = df.rename(
     columns={
          'Starting Balance': 'starting_balance',
          'Interest Paid': 'interest_paid', 
          'Principal Paid': 'principal_paid',
          'New Balance': 'new_balance'
     }
)

In [6]:
# Approach 2 list replacement
# Only changing Month -> month, but we need to list the rest of the columns
df.columns = [
     'month',
     'starting_balance',
     'Repayment',
     'interest_paid',
     'principal_paid',
     'new_balance',
     'term',
     'interest_rate',
     'car_type'
]

In [7]:
# Approach 1
# This approach allows you to drop multiple columns at a time 
df = df.drop(columns=['term'])

In [8]:
# Approach 2 use the del command
del df['Repayment']

In [9]:
df.shape

(60, 7)

## Identifying Missing Data
Values will be originally missing from a dataset or be a product of data manipulation. In pandas, missing values are typically called `NaN` or `None`.

Missing data can: 
* Hint at data collection errors.
* Indicate improper conversion or manipulation.
* Actually not be considered missing. For some datasets, missing data can be listed as "zero", "false", "not applicable", "entered an empty string", among other possibilities. 

This is an important subject as before you can graph data, you should make sure you aren't trying to graph some missing values as that can cause an error or misinterpretation of the data.

### Finding Missing Values

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 0 to 59
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   month             60 non-null     int64
 1   starting_balance  60 non-null     float64
 2   interest_paid     59 non-null     float64
 3   principal_paid    60 non-null     float64
 4   new_balance       60 non-null     float64
 5   interest_rate     60 non-null     float64
 6   car_type          60 non-null     object
dtypes: float64(5), int64(1), object(1)
memory usage: 3.8+ KB

Two common methods to indicate where values in a DataFrame are missing are `isna` and `isnull`. They are exactly the same methods, but with different names.

In [11]:
# Notice we have a Pandas Series of True and False values
df['interest_paid'].isna().head()

0    False
1    False
2    False
3    False
4    False
Name: interest_paid, dtype: bool

In [12]:
interest_missing = df['interest_paid'].isna()

In [14]:
# Looks at the row that contains the NaN for interest_paid
df.loc[interest_missing,:]

,month,starting_balance,interest_paid,principal_paid,new_balance,interest_rate,car_type
35,36,15940.06,NaN,593.99,15346.07,0.0702,Toyota Sienna

In [ ]:
# Keep in mind that we can use the not operator (~) to negate the filter
# every row that doesn't have a nan is returned.
df.loc[~interest_missing,:]

In [15]:
# The code counts the number of missing values
# sum() works because Booleans are a subtype of integers. 
df['interest_paid'].isna().sum()

1

In [16]:
True + False + False

1